head {
    background: linear-gradient(yellowgreen , black);
}

body {
    background: linear-gradient(yellowgreen , black);
    height: 100%;
}


nav ul {
    display: flex;
    background: midnightblue;
    height: 60px;
    border-radius: 20px;
}





h1{
    
    font-weight: bold;
    color: midnightblue;
}

h2 {
    font: 40px 'Century Gothic';
    color: midnightblue;
    font-weight: bold;
}
h4 {
    font: 20px 'Century Gothic';
    color: midnightblue;
}

h5 {
    font: 12px 'Century Gothic';
    color: black;
}

h6 {
    font: 50px 'italic;';
    color: yellowgreen;
}

article {
    font: 25px 'Century Gothic';
    color: yellowgreen;
}

li {
    font: 15px 'Century Gothic';
    color: yellowgreen;
    list-style-type: footnotes;
}

.codesnippet {
    text-align: left;
    border:45px solid midnightblue;
    background: linear-gradient(yellowgreen, black);
    border-radius: 20px;
    margin-top: 100px;
}



.loadtime {
    text-align: center;
    border:5px solid midnightblue;
    background: linear-gradient(red , black);
    border-radius: 50px;
    margin-top: 200px;
}

.table {
    text-align: center;
    border:5px solid midnightblue;
    background: linear-gradient(red , black);
    border-radius: 20px;
    margin-top: 100px;
}


code {
    font-size: 25px;
    color: red;

}

.load {
    background: black;
    text-align: center;
}

.valueLoad {
    text-align: center;
    font-size: 50px;
    font-weight: 150;
    background: linear-gradient(red , white);
}
