.nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    z-index: 100;
}

.nav__item {
    float: right;
}

.nav__link {
    display: block;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav__link:hover {
    background-color: darkslategrey;
}