.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: aquamarine;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    font-family: serif;
    width: 100%;
    padding: 15px;
}

.footer__text {
    justify-content: left;
    font-size: 1.2rem;
}

.footer__script {
    justify-content: right;
    font-size: 1.2rem;
}