.footer {
    display: flex;
    background-color: #333;
}

.footer__body {
    width: 100%;
    padding: 15px;
}

.footer__text {
    display: flex;
    justify-content: left;
    font-family: serif;
    color: aquamarine;
    font-size: 1.2rem;
}

.footer__script {
    display: flex;
    justify-content: right;
    font-family: serif;
    color: aquamarine;
    padding-top: 5px;
}
