.document {
    height: 100%;
}

.content {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: darkslategrey;
}

.main {
    color: rgb(255, 255, 255);
    margin: 10px;
}